//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "Web制作用の下地リセットCSS",
    body : [ "shitajicss", "shitajicss-demo" ],
    url : "https://qrac.github.io/shitajicss"
  }

-
  var pages = {
    index : {
      title : "Shitaji.CSS",
      desc : "Web制作用の下地リセットCSS",
      body : [ "shitajicss-demo-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "img",
    font : "font",
    css : "css",
    js : "js"
  }

-
  var twitter = {
    id : "Qrac_JP",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "shitajicss",
    ver : "v4.1.0",
    license : "CC0",
    url : "https://github.com"
  }