//----------------------------------------------------
// Base: Global
//----------------------------------------------------

.shitajicss-demo {
  padding: 16px;
  background: $deep-orange-200;
  font-family: $font-sans;
}