/*----------------------------------------------------
// Theme Dark
----------------------------------------------------*/

@media (prefers-color-scheme: dark) {
  :root {
    --theme-tx-1: #ffffff;
    --theme-tx-2: #e8e8e8;
    --theme-tx-3: #aaaaaa;
    --theme-bg-1: #191919;
    --theme-bg-2: #222222;
    --theme-lk-1: #ec5887;
    --theme-ac-1: #2f2f2f;
    --theme-reverse-tx-1: #000000;
    --theme-reverse-bg-2: #ffffff;
  }
}
