/*----------------------------------------------------
// Theme Light
----------------------------------------------------*/

:root {
  --theme-tx-1: #000000;
  --theme-tx-2: #333333;
  --theme-tx-3: #4b4b4b;
  --theme-bg-1: #f5f0ee;
  --theme-bg-2: #ffffff;
  --theme-lk-1: #b91e4f;
  --theme-ac-1: #4c4645;
  --theme-reverse-tx-1: #ffffff;
  --theme-reverse-bg-2: #222222;
}
