//----------------------------------------------------
// Module: Text
//----------------------------------------------------

.texts {
  line-height: 1.8;
  &.is-light {
    color: $light;
  }
  &.is-strong {
    font-weight: 700;
  }
}

.text {
  &.is-link-reverse:hover {
    text-decoration: underline;
  }
}

.pre,
.code {
  color: $indigo-500;
  font-family: $font-mono;
}

:not(.pre) {
  > .code {
    padding: 0.2em 0.5em;
    background-color: $grey-100;
    border-radius: 0.1875em;
    font-size: 0.875em;
    word-break: break-all;
  }
}

.pre {
  background-color: $grey-100;
  border-radius: 0.125em;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  > .code {
    display: block;
    padding: 1.25em 1.5em;
    font-size: 0.875em;
  }
}