/* ===================================================
*
*  Title: Shitaji.CSS
*  Author: Qrac
*  URL: https://twitter.com/Qrac_jp
*
=================================================== */

// Base CSS
@import "../_shitaji";

/*----------------------------------------------------
YakuHanJP CSS
----------------------------------------------------*/

* {
  font-family:
  Helvetica Neue, Helvetica,
  "Hiragino Kaku Gothic ProN", Meiryo,
  arial, sans-serif;
}

body {
  background: #ffc8c8;
  background: linear-gradient(135deg, #ffc8c8 0%, #ffe0cf 100%);
  color: #847472;
}

.header {
  padding: 50px 20px;
  text-align: center;
  .-svg_logo_ShitajiCSS {
    width: 100px;
    height: 100px;
    fill: #fff;
    color: #fff;
  }
  .-title {
    font-size: 2.75em;
    color: #fff;
    font-family: "Lobster";
    margin: 0 0 15px;
  }
  .-disc {
    font-size: 0.875em;
    color: #fff;
    margin: 0 0 40px;
  }
  a.-github {
    font-size: 0.9375em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    color: #847472;
    background: #fff;
    border-radius: 3px;
    margin: 0 auto;
  }
  a.-github > .-svg_github {
    width: 24px;
    height: 24px;
    fill: #847472;
    color: #847472;
    margin: 0 3px 0 0;
  }
}

.main {
  padding: 20px;
  max-width: 560px;
  margin: 0 auto;
  .-section {
    padding: 0 0 20px;
  }
  .-heading {
    font-size: 1.875em;
    text-align: center;
    margin: 0 0 30px;
  }
  .-pre {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, serif;
    padding: 20px;
    line-height: 1.4;
    background: #fff;
    border-radius: 3px;
    margin: 0 0 30px;
    overflow-x: scroll;
  }
  .-license {
    font-size: 0.875em;
    padding: 20px;
    line-height: 1.4;
    background: #fff;
    border-radius: 3px;
    a {
      color: #847472;
      text-decoration: underline;
    }
  }
}

.footer {
  padding: 20px 20px 80px;
  text-align: center;
  a > .-svg_twitter {
    width: 30px;
    height: 30px;
    fill: #847472;
    color: #847472;
    margin: 0 auto;
  }
}
