/* ===================================================
*
*  Title: Shitaji.CSS
*  Author: Qrac
*  URL: https://twitter.com/Qrac_jp
*
=================================================== */
/*
 *  Title: Shitaji.CSS
 *  Version: 2.0.0
 *  Type: Reset CSS
 *  License: CC0 1.0 Public Domain
 *  GitHub: https://github.com/qrac/shitajicss
 *  ---
 *  Author: Qrac
 *  Author WebSite: https://qrac.jp
 *  Author Contact: https://twitter.com/Qrac_jp
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  list-style: none;
  vertical-align: baseline;
  background: transparent;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background-repeat: no-repeat;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  -webkit-text-decoration-skip: objects;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/*----------------------------------------------------
YakuHanJP CSS
----------------------------------------------------*/
* {
  font-family: Helvetica Neue, Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, arial, sans-serif;
}

body {
  background: #ffc8c8;
  background: linear-gradient(135deg, #ffc8c8 0%, #ffe0cf 100%);
  color: #847472;
}

.header {
  padding: 50px 20px;
  text-align: center;
}

.header .-svg_logo_ShitajiCSS {
  width: 100px;
  height: 100px;
  fill: #fff;
  color: #fff;
}

.header .-title {
  font-size: 2.75em;
  color: #fff;
  font-family: "Lobster";
  margin: 0 0 15px;
}

.header .-disc {
  font-size: 0.875em;
  color: #fff;
  margin: 0 0 40px;
}

.header a.-github {
  font-size: 0.9375em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 36px;
  color: #847472;
  background: #fff;
  border-radius: 3px;
  margin: 0 auto;
}

.header a.-github > .-svg_github {
  width: 24px;
  height: 24px;
  fill: #847472;
  color: #847472;
  margin: 0 3px 0 0;
}

.main {
  padding: 20px;
  max-width: 560px;
  margin: 0 auto;
}

.main .-section {
  padding: 0 0 20px;
}

.main .-heading {
  font-size: 1.875em;
  text-align: center;
  margin: 0 0 30px;
}

.main .-pre {
  font-size: 1.125em;
  padding: 20px;
  line-height: 1.4;
  background: #fff;
  border-radius: 3px;
  margin: 0 0 30px;
  overflow-x: scroll;
}

.main .-license {
  font-size: 0.875em;
  padding: 20px;
  line-height: 1.4;
  background: #fff;
  border-radius: 3px;
}

.main .-license a {
  color: #847472;
  text-decoration: underline;
}

.footer {
  padding: 20px 20px 80px;
  text-align: center;
}

.footer a > .-svg_twitter {
  width: 30px;
  height: 30px;
  fill: #847472;
  color: #847472;
  margin: 0 auto;
}
