//----------------------------------------------------
/*! Shitaji.CSS Demo */
//----------------------------------------------------

//----------------------------------------------------
// / Glob Import > Config SCSS
//----------------------------------------------------

@import "tone/**";
@import "variable/**";
@import "mixin/**";

//----------------------------------------------------
// Base: Global
//----------------------------------------------------

.shitajicss-demo {
  background: $deep-orange-200;
}

//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

.section > .inner {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @include fablet {
    width: 540px;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 960px;
  }
  @include wide {
    width: 1140px;
  }
}

.section.is-header {
  padding: 2em 0 0;
  font-family: Montserrat, $font-sans;
}

.section.is-main {
  padding: 2em 0;
}

.section.is-footer {
  padding: 2em 0 2.5em;
  font-family: Montserrat, $font-sans;
}

//----------------------------------------------------
// Layout: Grid
//----------------------------------------------------

.grid {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-gap-none) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-gap-none) > .col {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
  &:not(.is-gap-none) + .grid:not(.is-gap-none) {
    margin-top: 0.5em;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-reverse {
    flex-direction: row-reverse;
  }
  &.is-around {
    justify-content: space-around;
  }
  &.is-stretch > .col {
    display: flex;
  }
}

//----------------------------------------------------
// Module: Heading
//----------------------------------------------------

.heading {
  &.is-title {
    color: $light;
    font-size: 2.75em;
    font-family: "Lobster", sans-serif;
  }
  &.is-second {
    color: $light;
    font-size: 1.5em;
    text-align: center;
  }
}

//----------------------------------------------------
// Module: Button
//----------------------------------------------------

.btns {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-bar) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-bar) > .btns,
  &:not(.is-bar) > .btn {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  > .btns {
    display: inline-flex;
  }
  > .btns + .btns {
    margin-top: 0;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

//----------------------------------------------------
// Module: Text
//----------------------------------------------------

.texts {
  line-height: 2;
  &.is-light {
    color: $light;
  }
  &.is-strong {
    font-weight: 700;
  }
}

.text {
  &.is-link-reverse:hover {
    text-decoration: underline;
  }
}

.pre,
.code {
  color: $indigo-500;
  font-family: $font-mono;
}

:not(.pre) {
  > .code {
    padding: 0.2em 0.5em;
    background-color: $grey-100;
    border-radius: 0.1875em;
    font-size: 0.875em;
    word-break: break-all;
  }
}

.pre {
  background-color: $grey-100;
  border-radius: 0.125em;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  > .code {
    display: block;
    padding: 1.25em 1.5em;
    font-size: 0.875em;
  }
}

//----------------------------------------------------
// Module: Button
//----------------------------------------------------

.btn {
  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  white-space: nowrap;
  padding: 0.75em 1em;
  border-radius: 0.1875em;
  line-height: 1;
  text-align: center;
  transition: ease-out 0.12s;
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    color: $dark-2;
  }
  &.is-disable,
  &[disabled] {
    cursor: default;
  }
  &.is-round {
    border-radius: 999em;
  }
  &.is-circle {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border-radius: 1.25em;
  }
  &.is-circle > .icon,
  &.is-circle > .im,
  &.is-circle > .fa,
  &.is-circle > .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.is-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn.is-ghost {
  color: $light;
  background-color: transparent;
  border: 1px solid $light;
  &:hover {
    color: $dark-1;
    background-color: $light;
  }
  &.is-red:hover {
    color: $deep-orange-200;
  }
}

//----------------------------------------------------
// Module: Group
//----------------------------------------------------

.group.is-white-card {
  max-width: 820px;
  //max-width: 640px;
  //width: calc(100vw - 32px);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: $light;
  border-radius: 0.5em;
  overflow: hidden;
}

//----------------------------------------------------
// Module: Icon
//----------------------------------------------------

$icon-class-basic:
".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons";

#{$icon-class-basic} {
  font-size: inherit;
  line-height: inherit;
}

.material-icons {
  vertical-align: bottom;
}

#{$icon-class-basic} {
  + .text {
    margin-left: 0.375em;
  }
  + {
    & #{$icon-class-basic} {
      &:not(.is-fit) {
        margin-left: 0.375em;
      }
    }
  }
}

.text {
  + {
    & #{$icon-class-basic} {
      margin-left: 0.375em;
    }
  }
}

#{$icon-class-basic} {
  &.is-fit {
    width: 1em;
    text-align: center;
  }
}

//----------------------------------------------------
// Module: Object
//----------------------------------------------------

.img {
  &.is-icon-shitajicss {
    width: 80px;
    height: 80px;
  }
}

//----------------------------------------------------
// Utility: Deco
//----------------------------------------------------

.is-light {
  color: $light;
}

.is-strong {
  font-weight: 700;
}

.is-center:not(.grid) {
  text-align: center;
}

.is-montserrat {
  font-family: Montserrat, $font-sans;
}

//----------------------------------------------------
// Utility: Space
//----------------------------------------------------

.is-space {
  > *:not(:first-child) {
    margin-top: 1em;
  }
}

//----------------------------------------------------
// Utility: Size
//----------------------------------------------------

.is-lg {
  font-size: 125%;
}