//----------------------------------------------------
/*! Shitaji.CSS Demo */
//----------------------------------------------------

@import "variable/_customize";
@import "variable/_moftone";
@import "variable/_mdtone";
@import "variable/_iostone";
@import "variable/_color";
@import "variable/_breakpoint";
@import "variable/_split";
@import "variable/_font";
@import "variable/_shadow";
@import "mixin/_mediaquery";
@import "mixin/_placeholder";

//----------------------------------------------------
// Project Theme CSS
//----------------------------------------------------

.shitajicss-demo {
  padding: 16px;
  background: $deep-orange-200;
  //background: linear-gradient(135deg, $red-200 0%, $orange-200 100%);
  font-family: $font-sans;
}

.header {
  padding: 32px 0 0;
  text-align: center;
  + .main {
    margin-top: 56px;
  }
}

.main {
  + .footer {
    margin-top: 56px;
  }
}

.footer {
  padding: 0 0 72px;
  text-align: center;
}

.section {
  max-width: 640px;
  padding: 16px;
  margin: 0 auto;
  background-color: $light;
  border-radius: 8px;
  + .section {
    margin-top: 16px;
  }
  + .btns {
    margin-top: 1em;
  }
}

.img {
  &.is-icon-shitajicss {
    width: 80px;
    height: 80px;
  }
}

.heading {
  &.is-title {
    color: $light;
    font-size: 2.75em;
    font-family: "Lobster", sans-serif;
  }
  &.is-section {
    color: $light;
    font-size: 1.5em;
    text-align: center;
  }
  + .texts {
    margin-top: 0.5em;
  }
  + .section {
    margin-top: 1em;
  }
}

.texts {
  line-height: 1.8;
  &.is-light {
    color: $light;
  }
  &.is-strong {
    font-weight: 700;
  }
  + .texts {
    margin-top: 0.5em;
  }
  + .btns {
    margin-top: 1em;
  }
}

.text {
  &.is-link-reverse:hover {
    text-decoration: underline;
  }
}

.fa + .text {
  margin-left: 0.25em;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-bar) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-bar) > * {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  > .btns {
    display: inline-flex;
  }
  > .btns + .btns {
    margin-top: 0;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  white-space: nowrap;
  padding: 0.75em 1em;
  border-radius: 2px;
  line-height: 1;
  text-align: center;
  transition: ease-out 0.15s;
  &.is-disable,
  &[disabled] {
    cursor: default;
  }
  &.is-round {
    border-radius: 999em;
  }
  &.is-circle {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border-radius: 999em;
  }
  &.is-circle > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.is-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn.is-ghost {
  color: $light;
  background-color: transparent;
  border: 1px solid $light;
  &:hover {
    color: $dark-1;
    background-color: $light;
  }
  &.is-red:hover {
    color: $deep-orange-200;
  }
}

* {
  &.is-xxl {
    font-size: 200%;
  }
  &.is-xl {
    font-size: 150%;
  }
  &.is-lg {
    font-size: 125%;
  }
  &.is-md {
    font-size: 100%;
  }
  &.is-sm {
    font-size: 87.5%;
  }
  &.is-xs {
    font-size: 75%;
  }
  &.is-xxs {
    font-size: 62.5%;
  }
}